*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

body {
    background-color: #596275;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 80px 15px;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background-color: #596275;
    border: none;
    box-shadow: 0 1px 12px #000;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    transition: .3s all;
    outline: none;

    &:hover {
        box-shadow: 0 1px 3px #000;
    }
}

.default-title {
    font-size: 20px;
    font-weight: 500;
    margin: 55px 0 30px;
    text-align: center;
    position: relative;
}

#time {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.calc-box {
    background-color: #303952;
    min-width: 600px;
    border-radius: 8px;
    padding: 20px 0;
    box-shadow: 0 2px 8px #000;

    h1 {
        font-size: 28px;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .4);
        padding: 20px 0 40px;
    }
}

.calc-content .expenses {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;

    .feild {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7.5px 0;

        span {
            font-size: 18px;
            font-weight: 300;
        }

        input {
            color: #000;
            height: 40px;
            width: 100px;
            border: 1px solid transparent;
            border-radius: 6px;
            padding: 0 10px;
            font-size: 18px;

            &:focus {
                outline: none;
                box-shadow: 0 0 12px #3dc1d3;
                border: 1px solid #3dc1d3;
            }
        }
    }
}

.rules {
    max-width: 360px;
    margin: 0 auto;

    ul {
        list-style: none;

        li {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

    .rate {
        background-color: transparent;
        width: 50px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        margin-left: 5px;
    }
}

.calculate {
    max-width: 360px;
    margin: 0 auto;
}

.calculate-inner {
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    .result {
        padding: 7.5px 0;
        display: flex;
        justify-content: space-between;

        span {
            font-size: 18px;
            font-weight: 300;
            height: 40px;
            line-height: 40px;
        }

        .number {
            color: #000;
            height: 40px;
            width: 100px;
            border: 1px solid #fff;
            border-radius: 6px;
            padding: 0 10px;
            font-size: 18px;
        }
    }
}

@media (max-width: 900px) {
    #time {
        position: absolute;
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    .calculate-inner {
        padding: 50px 0 15px;
    }
    body {
        padding: 80px 15px 30px;
    }

    .calc-box {
        min-width: 1px;
        max-width: 600px;
        width: 100%;
        padding: 20px 12px;
    }

    .calc-box h1 {
        font-size: 20px;
        text-align: center;
        padding: 5px 0 20px;
    }

    .default-title {
        font-size: 18px;
        margin: 35px 0 30px;
    }

    .rules ul li,
    .calc-content .expenses .feild span,
    .calculate-inner .result span {
        font-size: 14px;
    }

    .calculate-inner .result span {
        height: 35px;
        line-height: 35px;
    }

    .calc-content .expenses .feild input,
    .calculate-inner .result .number {
        width: 80px;
        height: 35px;
        font-size: 16px;
    }

    .btn {
        width: 140px;
        height: 35px;
        font-size: 16px;
    }
}